// base styling
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pattern-image {
  width: 100%;
}

.mdl-data-table {
  width: 100%;
  position: initial;
  white-space: initial;

  tbody {
    tr {
      position: initial;

      td {
        position: initial;
      }
    }
  }
}

.mdl-layout-title {
  a {
    color: white;
    text-decoration: none;
  }
}

.list {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.row {
  position: relative;
  height: 300px;
  overflow: hidden;
}
