// base styling
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pattern-image {
  width: 100%;
}

.mdl-data-table {
  width: 100%;
  position: initial;
  white-space: initial;

  tbody {
    tr {
      position: initial;

      td {
        position: initial;
      }
    }
  }
}

.mdl-layout-title {
  a {
    color: white;
    text-decoration: none;
  }
}

.mdl-layout__header-row {
  padding: 0 15px 0 20px;
}

.mdl-layout__content {
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

.center-text {
  text-align: center;
}

.mdl-layout--fixed-header {
  position: fixed;
}

.fixed-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.offline-image {
  height: 824px;
  text-align: center;
  font-size: 30px;
  background-color: #EFEFEF;
  color: black;
}

.mdl-textfield__input {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.provider-logo {
  width: 100px;
}
