// base styling
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pattern-image {
  width: 100%;
}

.mdl-data-table {
  width: 100%;
}

.mdl-layout-title {
  a {
    color: white;
    text-decoration: none;
  }
}
