<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/init-css.ejs %>
    </head>
    <body>
        <div id="preloader">
            <div class="preloader-circle">
                <div class="preloader-circle1 preloader-child"></div>
                <div class="preloader-circle2 preloader-child"></div>
                <div class="preloader-circle3 preloader-child"></div>
                <div class="preloader-circle4 preloader-child"></div>
                <div class="preloader-circle5 preloader-child"></div>
                <div class="preloader-circle6 preloader-child"></div>
                <div class="preloader-circle7 preloader-child"></div>
                <div class="preloader-circle8 preloader-child"></div>
                <div class="preloader-circle9 preloader-child"></div>
                <div class="preloader-circle10 preloader-child"></div>
                <div class="preloader-circle11 preloader-child"></div>
                <div class="preloader-circle12 preloader-child"></div>
            </div>
        </div>
        <div id="app"></div>
        <script src="/dist/style.js"></script>
        <script src="/dist/app.js"></script>

        <!--<script>-->
        <!--if ('serviceWorker' in navigator) navigator.serviceWorker.register('./sw.js');-->
        <!--</script>-->
    </body>
</html>
