.list {
  position: absolute;

  height: 100%;
  width: 100%;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.row {
  position: relative;
  display: block;

  max-width: 820px;
  height: 232px;
  margin-bottom: 48px;

  overflow: hidden;

  header {
    min-height: 200px;
  }
}

.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: none center / cover;
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
  background-color: rgba(63, 81, 181, 0.7);
}

.mdl-card__supporting-text {
  min-height: 68px;
}

.mdl-card__menu {
  button {
    i {
      color: #616161 !important;
    }
  }
}
