.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: none center / cover;
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
  background-color: rgba(63, 81, 181, 0.7);
}

.mdl-card__supporting-text {
  min-height: 68px;
}

.mdl-card__menu {
  button {
    i {
      background-color: rgb(63, 81, 181);
    }
  }
}
