.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.flex-container, .flex-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card.flex-item {
  width: calc(50% - 10px);
}

.card.flex-item {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
